language: scala
jdk:
  - openjdk8
services:
  - docker
env:
  global:
    - APP_MAUTH_UUID=398ea708-50eb-499f-98d3-14cc7692668c
cache:
  directories:
    - $HOME/.sbt
    - $HOME/.ivy2/cache
    - $HOME/.cache
    - $HOME/.m2
before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
before_install:
  - export APP_MAUTH_PRIVATE_KEY=$(cat .travis/fake_private_key_for_testing)
  - echo -e "machine github.com\n  login $GITHUB_AUTH_TOKEN" >> ~/.netrc
jobs:
  include:
    - stage: test
      script: sbt scalafmtSbtCheck scalafmtCheckAll +test:compile +suggestNextVersionAcrossAllProjects +test

    - stage: release
      script: .travis/deploy.sh
      if: tag IS present AND branch == master

stages:
  - test
  - release
